/*! Created: Wed, 27 Jun 2018 09:48:53 GMT */
.style__button___9iiGM {
  margin-left: 12px;
}

.style__innerBox___f-IsD {
  padding: 30px;
}

.style__arrayInnerBox___kTT0f {
  padding: 0 30px 20px 30px;
}

.style__arrayTitle___1xp-n{
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
}

.style__arrayItemHead___2lYp1 {
  padding: 4px;
}

.style__colorInput___KeBxf {
  padding-top: 16px;
  padding-bottom: 16px;
}

.style__colorInput___KeBxf label {
  margin-right: 20px;
}

.style__sectionTitle___1MakM {
  font-size: 24px;
  font-weight: 400;
  margin: 40px -30px 0px -30px;
  padding: 15px 30px;
  background-color: #f1f1f1;
}
.container,.container-fluid{margin-right:auto;margin-left:auto}.container-fluid{padding-right:2rem;padding-left:2rem}.row{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-.5rem;margin-left:-.5rem}.row.reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.col.reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-xs{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-xs-1{-webkit-flex-basis:8.333%;-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-xs-2{-webkit-flex-basis:16.667%;-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-xs-3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-xs-4{-webkit-flex-basis:33.333%;-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-xs-5{-webkit-flex-basis:41.667%;-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-xs-6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-xs-7{-webkit-flex-basis:58.333%;-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-xs-8{-webkit-flex-basis:66.667%;-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-xs-9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-xs-10{-webkit-flex-basis:83.333%;-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-xs-11{-webkit-flex-basis:91.667%;-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-xs-12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-xs-offset-1{margin-left:8.333%}.col-xs-offset-2{margin-left:16.667%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-4{margin-left:33.333%}.col-xs-offset-5{margin-left:41.667%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-7{margin-left:58.333%}.col-xs-offset-8{margin-left:66.667%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-10{margin-left:83.333%}.col-xs-offset-11{margin-left:91.667%}.start-xs{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-xs{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-xs{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-xs{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.middle-xs{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.bottom-xs{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}.around-xs{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-xs{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.first-xs{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.last-xs{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}@media only screen and (min-width:48em){.container{width:49rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,.col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,.col-sm-offset-9{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-sm{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-sm-1{-webkit-flex-basis:8.333%;-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-sm-2{-webkit-flex-basis:16.667%;-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-sm-3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-sm-4{-webkit-flex-basis:33.333%;-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-sm-5{-webkit-flex-basis:41.667%;-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-sm-6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-sm-7{-webkit-flex-basis:58.333%;-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-sm-8{-webkit-flex-basis:66.667%;-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-sm-9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-sm-10{-webkit-flex-basis:83.333%;-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-sm-11{-webkit-flex-basis:91.667%;-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-sm-12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-sm-offset-1{margin-left:8.333%}.col-sm-offset-2{margin-left:16.667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.333%}.col-sm-offset-5{margin-left:41.667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.333%}.col-sm-offset-8{margin-left:66.667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.333%}.col-sm-offset-11{margin-left:91.667%}.start-sm{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-sm{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-sm{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-sm{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.middle-sm{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.bottom-sm{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}.around-sm{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-sm{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.first-sm{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.last-sm{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}}@media only screen and (min-width:64em){.container{width:65rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-md{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-md-1{-webkit-flex-basis:8.333%;-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-md-2{-webkit-flex-basis:16.667%;-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-md-3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-md-4{-webkit-flex-basis:33.333%;-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-md-5{-webkit-flex-basis:41.667%;-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-md-6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-md-7{-webkit-flex-basis:58.333%;-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-md-8{-webkit-flex-basis:66.667%;-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-md-9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-md-10{-webkit-flex-basis:83.333%;-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-md-11{-webkit-flex-basis:91.667%;-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-md-12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-md-offset-1{margin-left:8.333%}.col-md-offset-2{margin-left:16.667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.333%}.col-md-offset-5{margin-left:41.667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.333%}.col-md-offset-8{margin-left:66.667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.333%}.col-md-offset-11{margin-left:91.667%}.start-md{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-md{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-md{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-md{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.middle-md{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.bottom-md{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}.around-md{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-md{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.first-md{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.last-md{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}}@media only screen and (min-width:75em){.container{width:76rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-offset-1,.col-lg-offset-10,.col-lg-offset-11,.col-lg-offset-12,.col-lg-offset-2,.col-lg-offset-3,.col-lg-offset-4,.col-lg-offset-5,.col-lg-offset-6,.col-lg-offset-7,.col-lg-offset-8,.col-lg-offset-9{box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-lg{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-lg-1{-webkit-flex-basis:8.333%;-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}.col-lg-2{-webkit-flex-basis:16.667%;-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}.col-lg-3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-lg-4{-webkit-flex-basis:33.333%;-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}.col-lg-5{-webkit-flex-basis:41.667%;-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}.col-lg-6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-lg-7{-webkit-flex-basis:58.333%;-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}.col-lg-8{-webkit-flex-basis:66.667%;-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}.col-lg-9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-lg-10{-webkit-flex-basis:83.333%;-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}.col-lg-11{-webkit-flex-basis:91.667%;-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}.col-lg-12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-lg-offset-1{margin-left:8.333%}.col-lg-offset-2{margin-left:16.667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.333%}.col-lg-offset-5{margin-left:41.667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.333%}.col-lg-offset-8{margin-left:66.667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.333%}.col-lg-offset-11{margin-left:91.667%}.start-lg{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}.center-lg{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-lg{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-lg{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.middle-lg{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.bottom-lg{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}.around-lg{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.between-lg{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.first-lg{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.last-lg{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}}.style__title___3gUIc {
  padding: 30px 30px 0px 30px;
  font-size: 26px;
  color: rgba(0,0,0,0.87);
  font-weight: 300;
}

.style__subTitle___2bFLL {
  padding: 5px 30px 0px 30px;
  font-size: 16px;
  color: rgba(0,0,0,0.54);
  font-weight: 400;
}
.style__preview___2gPea {
  position: relative;
  height: 220px;
  width: 200px;
  cursor: move;
}

.style__preview___2gPea img {
  max-width: 100%;
  max-height: 100%;
}

.style__footer___3VA30 {
  background-color: rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
}

.style__dropzone___3X4DT {}
.style__dropzoneEmpty___2tOmq {
  color: #a1a1a1;
  font-size: 16px;
  border: 2px dashed rgba(0,0,0,0.1);
  padding: 80px;
  margin: 20px 20px 0 20px;
  background-color: rgb(255,255,255);
}
.style__dropzoneActive___Xm_5O {
  background-color: rgba(18,179,117, 0.4);
}
.style__dropzoneReject___1io3L {
  background-color: rgba(244,67,54,0.8);
}
.style__dropzoneReject___1io3L .style__list___1eFE6,
.style__dropzoneActive___Xm_5O .style__list___1eFE6 {
  opacity: 0.3
}
.style__gallery___1Frbr {
}

.style__list___1eFE6 {
  margin: 10px 10px 0 10px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow: auto;
}

.style__item___yhy9e {
  margin: 10px 0px 10px 10px;
  padding: 0;
  list-style: none;
}
.style__preview___1Pc0x {
  height: 220px;
  width: 200px;
}

.style__preview___1Pc0x img {
  max-width: 100%;
  max-height: 100%;
}

.style__footer___nub2V {
  background-color: rgba(0,0,0,0.05);
}

.style__dropzone___1blmv {
  cursor: pointer;
}
.style__dropText___3k9wV {
  color: #a1a1a1;
  font-size: 14px;
}
.style__dropzoneActive___36bot {
  background-color: rgba(18,179,117, 0.4);
}
.style__dropzoneReject___3Clj3 {
  background-color: rgba(244,67,54,0.8);
}
.style__dropzoneReject___3Clj3 .style__preview___1Pc0x img,
.style__dropzoneActive___36bot .style__preview___1Pc0x img {
  opacity: 0.3
}

.style__noImage___3wtez {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.style__innerBox___1lLen {
  padding: 30px;
}

.style__title___3jIOv {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.style__developer___3hBds {
  color: #616161;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.style__cover___3cGAo {
  width: 100%;
}

.style__description___3Aank {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  word-break: break-word;
}

.style__description___3Aank a {
  color: #008eb4;
}

.style__description___3Aank img {
  width: 90%;
  box-shadow: 0px 0px 10px #AAA;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
}

.style__description___3Aank ul,
.style__description___3Aank ol {
  margin: 0;
}

.style__detailsContainer___3_pxU {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style__logsBox___2rfQ5 {
  max-height: 300px;
  overflow: auto;
}

.style__logsItem___3hMlP {
  padding: 12px 30px;
  font-size: 14px;
}

.style__logsItem___3hMlP:nth-child(odd) {
  background: rgba(0,0,0,0.03);
}

.style__logsItem___3hMlP:hover {
  background: rgba(0,0,0,0.2);
}

.style__logDate___2zuX5 {
  color: #777;
  font-size: 11px;
}

.style__logMessage___142qV {

}

.style__action___17Dss {
  padding: 30px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.style__action___17Dss:last-child {
  border-bottom: none
}
.style__imageBox___1X6JT {
  height: 80px;
}

.style__image___l0OSn {
  max-width: 80px;
  max-height: 70px;
  border: 1px solid #eee;
}

.style__productName___1Snny {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.style__productName___1Snny small {
  color: rgba(0, 0, 0, 0.4);
}

.style__productActive___1jUNZ {
  color: rgb(0,142,180);
}

.style__productInactive___2GWBE {
  color: rgba(0, 0, 0, 0.3);
}

.style__sku___3HFgP {
  word-break: break-all;
}

.style__stock___1YSEM {
  word-break: break-all;
}

.style__inStock___9XEFV {
  color: rgb(122,179,23);
}

.style__outOfStock___3XqsV {
  color: rgb(228,86,53);
}

.style__backorder___N1lsV {
  color: rgb(251,184,41);
}

.style__preorder___1pnfd {
  /*color: rgb(228,86,53);*/
}

.style__discontinued___n8YFy {
  color: rgba(0, 0, 0, 0.3);
}

.style__price___2u0W0 {
  word-break: break-all;
  text-align: right;;
}

.style__price___2u0W0 small {
  display: block;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.style__more___3vyQ1 {
  padding: 40px 0;
  text-align: center;
}

.style__innerItem___2VxI- {
  padding: 0 16px;
}
.style__filter___1-AdJ {
  padding: 0 16px;
}
.style__shortBox___3Cp7L {
  max-width: 300px;
}

.style__button___Ve48X {
  margin-left: 12px;
}

.style__toggle___OYCqc {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___1Rlbe {
  padding: 30px;
}

.style__error___2ymDp {
  color: rgb(244, 67, 54);
}
.style__customerName___121Q2 {
  text-decoration: none;
  font-weight: 400;
  color: rgb(0,142,180);
}

.style__customerName___121Q2 small {
  color: rgba(0, 0, 0, 0.4);
}

.style__location___yoibu {
  color: rgba(0, 0, 0, 0.4);
}

.style__price___279Q7 {
  word-break: break-all;
  text-align: right;
  margin-right: 10px;
}

.style__more___3rmWj {
  padding: 40px 0;
  text-align: center;
}
.style__button___xB3ve {
  margin-left: 12px;
}

.style__toggle___1zXNy {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___3faxW {
  padding: 30px;
}

.style__childrenBox___2R4m_ {
  padding: 0 30px 30px 30px;
}

.style__error___39dSW {
  color: rgb(244, 67, 54);
}

.style__address___1e1xV {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.style__address___1e1xV div {
  margin-bottom: 6px;
}

.style__item___FlSgY {
  padding: 10px 5px;
}

.style__itemImage___1_qbD {
  max-width: 100%;
  max-height: 80px;
}

.style__itemDiscount___2-D7w {
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

.style__itemName___3sNhR {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.style__itemName___3sNhR a {
  color: rgb(0,142,180);
  text-decoration: none;
}

.style__itemName___3sNhR div {
  margin-top: 4px;
}

.style__total___2wzAR {
  margin-top: 10px;
  text-align: right;
}

.style__total___2wzAR span {
  color: rgba(0, 0, 0, 0.54);
}

.style__grandTotal___2S_RU {
  font-weight: 500;
}

.style__link___3yBtO {
  color: rgb(0,142,180);
  text-decoration: none;
}

.style__summaryRow___3eMnT {
  margin-bottom: 10px;
  font-size: 14px;
  word-break: break-all;
}

.style__summaryRow___3eMnT span {
  color: rgba(0, 0, 0, 0.54);
}

.style__states___3z20r {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.style__states___3z20r span {
  padding: 4px 10px;
  margin-right: 10px;
  border-radius: 2px;
}
.style__closedState___2W2o0 {
  background-color: rgb(127, 175, 27);
  color: #fff;
}
.style__cancelledState___1qpnJ {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.style__deliveredState___XMCQ0 {
  background-color: rgb(127, 175, 27);
  color: #fff;
}
.style__paidState___2StNo {
  background-color: rgb(251, 184, 41);
}
.style__holdState___28BnL {
  background-color: rgba(0, 0, 0, 0.1);
}
.style__draftState___3M3EM {
  background-color: rgba(0, 0, 0, 0.1);
}

.style__shippingButtons___3AUFU{
  text-align: right;
  margin-top: 20px;
}

.style__customerName___2ipfr small {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  padding-top: 5px;
}
.style__shortBox___24K5h {
  max-width: 300px;
}

.style__button___2Rs3q {
  margin-left: 12px;
}

.style__toggle___as6us {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___1FE1k {
  padding: 30px;
}

.style__error___2ulqh {
  color: rgb(244, 67, 54);
}
.style__number___1KFhK {
  text-decoration: none;
  font-weight: 400;
  color: rgb(0,142,180);
}

.style__small___1tHSO {
  color: rgba(0, 0, 0, 0.4);
}

.style__price___tgrYE {
  word-break: break-all;
  text-align: right;
}

.style__shipping___3NILe {
  font-size: 14px;
}

.style__status___1ijd4 {
  text-align: right;
  font-size: 14px;
}

.style__more___3wCPf {
  padding: 40px 0;
  text-align: center;
}
.style__filter___30miB {
  padding: 0 16px;
}

.style__select___3EA3o {}
.style__button___vAJOL {
  margin-left: 12px;
}

.style__toggle___1nmOE {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___3FEc_ {
  padding: 30px;
}

.style__childrenBox___3N62c {
  padding: 0 30px 30px 30px;
}

.style__error___2b6Ot {
  color: rgb(244, 67, 54);
}

.style__address___grXJv {
  font-size: 14px;
}

.style__address___grXJv label {
  color: rgba(0, 0, 0, 0.54);
}

.style__address___grXJv div {
  margin-bottom: 6px;
}

.style__item___3wyje {
  padding: 10px 5px;
}

.style__itemImage___3EGfl {
  max-width: 100%;
  max-height: 80px;
}

.style__itemDiscount___5vTri {
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

.style__itemName___3aNnO {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.style__itemName___3aNnO a {
  color: rgb(0,142,180);
  text-decoration: none;
}

.style__itemName___3aNnO div {
  margin-top: 4px;
}

.style__total___3X4vE {
  margin-top: 10px;
  text-align: right;
}

.style__total___3X4vE span {
  color: rgba(0, 0, 0, 0.54);
}

.style__grandTotal___ROOUl {
  font-weight: 500;
}

.style__link___2B3zD {
  color: rgb(0,142,180);
  text-decoration: none;
}

.style__summaryRow___ItD0t {
  margin-bottom: 10px;
  font-size: 14px;
  word-break: break-all;
}

.style__summaryRow___ItD0t span {
  color: rgba(0, 0, 0, 0.54);
}

.style__states___354dw {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.style__states___354dw span {
  padding: 4px 10px;
  margin-right: 10px;
  border-radius: 2px;
}
.style__closedState___3G8h4 {
  background-color: rgb(127, 175, 27);
  color: #fff;
}
.style__cancelledState___3F8z0 {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.style__deliveredState___gaKVK {
  background-color: rgb(127, 175, 27);
  color: #fff;
}
.style__paidState___3gg1a {
  background-color: rgb(251, 184, 41);
}
.style__holdState___3gBxy {
  background-color: rgba(0, 0, 0, 0.1);
}
.style__draftState___2LeFD {
  background-color: rgba(0, 0, 0, 0.1);
}

.style__shippingButtons___tnKrG{
  text-align: right;
  margin-top: 20px;
}
.style__shortBox___36Gpc {
  max-width: 300px;
}

.style__button___3pG2U {
  margin-left: 12px;
}

.style__toggle___2wnmt {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___J-0bG {
  padding: 30px;
}

.style__error___3U7O8 {
  color: rgb(244, 67, 54);
}
.style__button___2iqmz {
  margin-left: 12px;
}

.style__innerBox___q8Oeu {
  padding: 30px;
}

.style__error___50BX7 {
  color: rgb(244, 67, 54);
}
.style__button___Kw_j4 {
  margin-left: 12px;
}

.style__toggle___7d4Ty {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___2xF0o {
  padding: 30px;
}

.style__childrenBox___3seHM {
  padding: 0 30px 30px 30px;
}

.style__error___1yZ23 {
  color: rgb(244, 67, 54);
}
.style__button___H9w6z {
  margin-left: 12px;
}

.style__toggle___3SJi9 {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___1pAEV {
  padding: 30px;
}

.style__childrenBox___1D8nB {
  padding: 0 30px 30px 30px;
}

.style__error___3LzEU {
  color: rgb(244, 67, 54);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

form {
  display: initial;
}

#app, #container {
  height: 100%;
}

#bodyContainer {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.col-full-height {
  height: 100%;
}

body, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
}

.row--no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.col--no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.appBar {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.searchField {
  float: left;
  margin-right: 10px;
}

.right-border {
  border-right: 1px solid #ccc;
}

.field-hint {
  color: #a1a1a1;
  font-size: 12px;
}

.buttons-box {
  background-color: rgba(0, 0, 0, 0.05);
  /*border-top: 1px solid #e0e0e0;*/
  height: 80px;
  transition: height 0.2s ease-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 30px;
}

.buttons-box-pristine {
  height: 0px;
}
.buttons-box-show {
  height: 80px;
}

.blue-title {
  color: rgb(25, 118, 210);
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0 5px 0;
}

.gray-title {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.mce-content-body {
  border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.mce-content-body img {
  max-width: 100%;
}

#mceu_22 {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  border: none;
}

#mceu_23{
  background-color: #f0f0f0;
  border-radius: 3px;
}

.mce-toolbar .mce-btn {
  background-color: #f0f0f0 !important;
  border-radius: 2px;
}

.mce-toolbar .mce-btn.mce-active {
  background-color: rgba(0,0,0,0.1) !important;
}
.mce-toolbar .mce-btn.mce-active i {
  color: #000 !important;
}

.mce-toolbar .mce-btn:hover, .mce-toolbar div.mce-btn:focus {
  background-color: rgba(0,0,0,0.1) !important;
  border: 1px solid #f0f0f0;
}

.products-item, .orders-item, .customers-item {
  background-color: #fff;
  border-left: 1px solid rgb(224, 224, 224);
}

.products-item.selected, .orders-item.selected, .customers-item.selected {
  background-color: rgba(0,0,0,0.01);
}

.block404 {
  text-align: center;
  margin-top: 40px;
}

.block404 .title {
  font-weight: 600;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 20px;
}

.block404 .description {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.paper-box {
  margin: 20px;
  text-align: left;
}

.loginBox {
  margin: 10px;
  padding: 60px 30px;
  text-align: left;
}

.loginErrorResponse {
  color: rgb(244, 67, 54);
  margin-top: 30px;
  font-size: 120%;
}

.loginSuccessResponse {
  color: rgb(33, 160, 84);
  margin-top: 30px;
  font-size: 120%;
}

.loginTitle {
  font-size: 32px;
}

.loginDescription {
  margin-top: 10px;
  font-size: 14px;
}

.loginInput {
  margin: 30px 0 30px 0;
}

.react-tagsinput {
  overflow: hidden;
  margin: 10px 0 0 0;
}

.react-tagsinput--focused {
}

.react-tagsinput-tag {
  background-color: rgb(224, 224, 224);
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 8px 16px;
  cursor: default;
  border-radius: 16px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
}

.react-tagsinput-tag a::before {
  content: " \D7";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 0;
  width: 120px;
}

.treeItem {
  font-size: 14px !important;
  line-height: 14px !important;
}


/*
MOBILE
*/
@media screen and (max-width: 769px) {
  .scroll {
    overflow: inherit;
  }

  .appBar {
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .searchField {
    font-size: 14px !important;
    width: 140px !important;
    margin-right: 0px;
  }
}
.style__button___3K2dS {
  margin-left: 12px;
}

.style__innerBox___27Lk1 {
  padding: 30px;
}

.style__error___3yKGf {
  color: rgb(244, 67, 54);
}
.style__buttons___Qq_fJ{
  text-align: right;
  margin-top: 20px;
}

.style__error___2ZcwM {
  color: rgb(244, 67, 54);
}
.style__button___J3lxQ {
  margin-left: 12px;
}

.style__innerBox___CnWOe {
  padding: 30px;
}

.style__error___2zPUL {
  color: rgb(244, 67, 54);
}
.style__button___2QdGq {
  margin-left: 12px;
}

.style__innerBox___V1Rpb {
  padding: 30px;
}

.style__error___1poCL {
  color: rgb(244, 67, 54);
}
.style__button___10Mcc {
  margin-left: 12px;
}

.style__toggle___1jouI {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___3e_0Q {
  padding: 30px;
}

.style__childrenBox___2ei21 {
  padding: 0 30px 30px 30px;
}

.style__error___RAXS0 {
  color: rgb(244, 67, 54);
}
.style__button___12v7Y {
  margin-left: 12px;
}

.style__toggle___3i4QA {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___CjRri {
  padding: 30px;
}

.style__childrenBox___10Jvn {
  padding: 0 30px 30px 30px;
}

.style__error___3YWxK {
  color: rgb(244, 67, 54);
}
.style__button___28O-c {
  margin-left: 12px;
}

.style__toggle___2Ceud {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___294NR {
  padding: 30px;
}

.style__childrenBox___apM24 {
  padding: 0 30px 30px 30px;
}

.style__error___3iqa1 {
  color: rgb(244, 67, 54);
}

.style__detailsContainer___2MeOz {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.style__servicesCover___3Or5a {
  width: 280px;
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 2px 2px 0 0;
}

.style__more___2HqvY {
  padding: 40px 0;
  text-align: center;
}

.style__card___3x8_F:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3) !important;
}
.style__innerBox___3Hzlb {
  padding: 30px;
}

.style__title___1KR4o {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.style__developer___DQecd {
  color: #616161;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.style__cover___2v37X {
  width: 100%;
}

.style__description___3TFgF {
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  word-break: break-all;
}

.style__description___3TFgF a {
  color: #008eb4;
}

.style__description___3TFgF ul,
.style__description___3TFgF ol {
  margin: 0;
}

.style__detailsContainer___1xEwK {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style__logsBox___3QuH9 {
  max-height: 300px;
  overflow: auto;
}

.style__logsItem___2Pnln {
  padding: 12px 30px;
  font-size: 14px;
}

.style__logsItem___2Pnln:nth-child(odd) {
  background: rgba(0,0,0,0.03);
}

.style__logsItem___2Pnln:hover {
  background: rgba(0,0,0,0.2);
}

.style__logDate___1UNU_ {
  color: #777;
  font-size: 11px;
}

.style__logMessage___3pbIG {

}

.style__action___2LGkG {
  padding: 30px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.style__action___2LGkG:last-child {
  border-bottom: none
}
.style__item___3nxQ7 {
  font-size: 14px;
  padding: 4px 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.style__item___3nxQ7:last-of-type {
  border-bottom: none;
}

.style__item___3nxQ7:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.style__name___1Fu0Z a {
  color: rgb(0,142,180);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.style__name___1Fu0Z a:hover {
  text-decoration: underline;
}

.style__date___3_058, .style__size___sE6Dg {
  color: rgba(0, 0, 0, 0.54);
  text-align: right;
}

.style__more___2Gjg8 {
  text-align: right;
}

.style__head___1hicR {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  padding: 16px 16px 0 26px;
  text-align: right;
}

.style__head___1hicR div:first-of-type {
  text-align: left;
}
.style__innerBox___20ipU {
  padding: 30px;
}

.style__grid___lFq5q {}

.style__gridHeadRow___1P2R5{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  color: #a1a1a1;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 60px;
  cursor: default;
}

.style__gridHeadRow___1P2R5 a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.style__gridRow___1dvRt {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.style__gridCol___1-mvW {
  flex: 1 1;
  overflow: hidden;
}

.style__gridCol___1-mvW:hover,
.style__textInput___23oZJ:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.style__textInput___23oZJ {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  text-align: center;
  height: 60px;
}
.style__button___1fjg0 {
  margin-left: 12px;
}

.style__innerBox___10z3p {
  padding: 30px;
}

.style__childrenBox___3wqF2 {
  padding: 0 30px 30px 30px;
}

.style__error___wtpB5 {
  color: rgb(244, 67, 54);
}

.style__head___1ym3_ {
  background-color: rgba(0, 0, 0, 0.05);
  color: #a1a1a1;
  padding: 18px 0 18px 30px !important;
}

.style__input___14Vro {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  height: 60px;
  text-indent: 30px;
}

.style__input___14Vro:hover,
.style__input___14Vro:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.style__button___d0MDR {
  margin-left: 12px;
}

.style__innerBox___26jvl {
  padding: 30px;
}

.style__error___1bT7K {
  color: rgb(244, 67, 54);
}
.style__button___1Ajlz {
  margin-left: 12px;
}

.style__innerBox___1h__R {
  padding: 30px 30px 50px 30px;
}

.style__error___J7uUw {
  color: rgb(244, 67, 54);
}
.style__button___1sHmo {
  margin-left: 12px;
}

.style__innerBox___1NgBj {
  padding: 30px;
}

.style__childrenBox___10laU {
  padding: 0 30px 30px 30px;
}

.style__error___-umvK {
  color: rgb(244, 67, 54);
}

.style__head___1OZLC {
  background-color: rgba(0, 0, 0, 0.05);
  color: #a1a1a1;
  padding: 18px 0 18px 30px !important;
}

.style__input___3hmhB {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  height: 60px;
  text-indent: 30px;
}

.style__input___3hmhB:hover,
.style__input___3hmhB:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.style__relatedProducts___3T4Bc {
  margin: 15px 0;
}

.style__relatedProduct___iDq-b {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.style__relatedProduct___iDq-b:last-child {
  border-bottom: none;
}

.style__relatedProductImage___2Q52i {
  min-width: 120px;
}
.style__relatedProductText___k58d_ {
  flex-grow: 1;
}
.style__relatedProductActions___2-A8Q {
  min-width: 60px;
  text-align: center;
}

.style__relatedProductText___k58d_ a {
  color: #008eb4;
  text-decoration: none;
}

.style__relatedProductText___k58d_ div {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 4px;
}

.style__relatedProductImage___2Q52i img {
  max-height: 100px;
  max-width: 100px;
}

.style__relatedProductDisabled___2qpe5 .style__relatedProductImage___2Q52i,
.style__relatedProductDisabled___2qpe5 .style__relatedProductText___k58d_ {
  opacity: 0.25;
}
.style__button___3nh2s {
  margin-left: 12px;
}

.style__innerBox___3tknx {
  padding: 30px;
}

.style__error___1hepP {
  color: rgb(244, 67, 54);
}

.style__shortControl___3BB_A {
  max-width: 300px;
  margin: 15px 0;
}

.style__grid___1iWXU {}

.style__gridRow___2GWu0 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(224, 224, 224);
}

.style__gridRow___2GWu0:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.style__gridColInput___zm8ZY {
  padding-left: 30px;
  flex: 8 1;
}
.style__gridColButton___9EVC3 {
  padding-right: 30px;
  text-align: right;
  flex: 1 1;
}

.style__textInput___2JsV4 {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  height: 60px;
}
.style__button___3-n4f {
  margin-left: 12px;
}

.style__innerBox___1VPZ- {
  padding: 30px;
}

.style__error___3dQoD {
  color: rgb(244, 67, 54);
}
.style__button___18c_e {
  margin-left: 12px;
}

.style__innerBox___GZGzu {
  padding: 30px;
}

.style__error___3Dw_L {
  color: rgb(244, 67, 54);
}
.style__dropzone___1pxou {
  margin: 20px;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.style__uploading___1uUvn {
  opacity: 0;
}
.style__dropzoneEmpty___1sEnt {
  color: #a1a1a1;
  font-size: 16px;
  border: 2px dashed rgba(0,0,0,0.1);
  padding: 80px 0;
  text-align: center;
}
.style__dropzoneActive___10kVe {
  background-color: rgba(18,179,117, 0.4);
}
.style__dropzoneReject___25B5M {
  background-color: rgba(244,67,54,0.8);
}
.style__dropzoneReject___25B5M .style__list___2wQ3v,
.style__dropzoneActive___10kVe .style__list___2wQ3v {
  opacity: 0.3
}
.style__dropzoneActive___10kVe .style__button___EDYOd {
  opacity: 0;
}
.style__button___EDYOd {
  margin-left: 10px !important;
}
