.page-heading {
  max-width: 100rem;
}
.main-content-inner {
  max-width: 100rem;
  margin: 0 auto;
}
.page-editor {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}